In [1]:
import requests
import os
import pandas as pd
from sqlalchemy import create_engine, text

In [ ]:
API_URL = "https://padelapi.org/api/players/"
API_TOKEN = os.environ["PADEL_API_TOKEN"]

headers = {
    "Authorization": f"Bearer {API_TOKEN}",
    "Accept": "application/json"
}

params = {
    "limit": 100,
    "offset": 0
}

In [ ]:
response = requests.get(API_URL, headers=headers)

In [ ]:
json_data = response.json()["data"]
df_players = pd.json_normalize(json_data)
df_players.head()

In [ ]:
# Step 1: Connect to PostgreSQL
username = os.environ["POSTGRES_USER"]
password = os.environ["POSTGRES_PWD"]
host = os.environ["POSTGRES_HOST"]
database = os.environ["POSTGRES_DB"]
engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}/{database}")

# Step 2: Load the DataFrame into PostgreSQL
table_name = "players"
df_players.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"âœ… Data successfully loaded into table '{table_name}' in database '{database}'.")

In [3]:
import os

# Postgres configuration
username = os.environ["POSTGRES_USER"]
password = os.environ["POSTGRES_PWD"]
host = os.environ["POSTGRES_HOST"]
database = os.environ["POSTGRES_DB"]

engine_url = f"postgresql+psycopg2://{username}:{password}@{host}/{database}"
print(engine_url)
engine = create_engine(engine_url, pool_pre_ping=True)
engine

postgresql+psycopg2://neondb_owner:npg_iWrIl1VGfJ0Y@ep-orange-bush-adlmlpq2-pooler.c-2.us-east-1.aws.neon.tech/neondb

Engine(postgresql+psycopg2://neondb_owner:***@ep-orange-bush-adlmlpq2-pooler.c-2.us-east-1.aws.neon.tech/neondb)

In [4]:
# Read from Postgres DB
with engine.connect() as connection:
    df_matches = pd.read_sql_query(text("SELECT * FROM matches"), connection)
    
engine.dispose()
print(len(df_matches))
df_matches.head()

15

,id,played_at,category,round_name,team_1_backhand,team_1_drive,team_2_backhand,team_2_drive,score,winner,duration
0,6987,2025-12-14,men,Finals,Agustin Tapia,Arturo Coello,Alejandro Galan,Federico Chingotto,hidden_free_plan,hidden_free_plan,02:52
1,7018,2025-12-14,women,Finals,Gemma Triay Pons,Delfina Brea Senesi,Claudia Fernandez Sanchez,Beatriz Gonzalez Fernandez,hidden_free_plan,hidden_free_plan,02:09
2,6985,2025-12-13,men,Semifinals,Agustin Tapia,Arturo Coello,Franco Stupaczuk,Martin Di Nenno,hidden_free_plan,hidden_free_plan,01:44
3,6986,2025-12-13,men,Semifinals,Francisco Navarro,Jon Sanz,Alejandro Galan,Federico Chingotto,hidden_free_plan,hidden_free_plan,01:35
4,7016,2025-12-13,women,Semifinals,Gemma Triay Pons,Delfina Brea Senesi,Andrea Ustero Prieto,Sofia Araujo,hidden_free_plan,hidden_free_plan,01:37

In [13]:
df_matches[df_matches["duration"].isnull()]

,id,played_at,category,round_name,team_1_backhand,team_1_drive,team_2_backhand,team_2_drive,score,winner,duration
14,6893,2025-11-30,men,Finals,Agustin Tapia,Arturo Coello,Alejandro Galan,Federico Chingotto,hidden_free_plan,hidden_free_plan,None

In [14]:
df_matches["duration_minutes"] = (
    df_matches["duration"]
      .dropna()
      .str.split(":", expand=True)
      .astype(int)
      .pipe(lambda x: x[0] * 60 + x[1])
)

In [16]:
df_matches[["duration_minutes", "duration"]]

    duration_minutes duration
0              172.0    02:52
1              129.0    02:09
2              104.0    01:44
3               95.0    01:35
4               97.0    01:37
5              133.0    02:13
6               99.0    01:39
7               68.0    01:08
8              151.0    02:31
9              123.0    02:03
10              52.0    00:52
11              91.0    01:31
12              94.0    01:34
13              61.0    01:01
14               NaN     None

In [ ]:

df_summary = pd.DataFrame()
df_summary = df_matches \
    .groupby(['category','played_at']) \
    .agg(
        match_count=('played_at', 'count'),
        avg_duration_minutes=('duration', 'mean'),
        last_played_at=('played_at', 'max')
    ).size().reset_index(name='match_count')

  category   played_at  match_count
0      men  2025-11-30            1
1      men  2025-12-11            2
2      men  2025-12-12            2
3      men  2025-12-13            2
4      men  2025-12-14            1
5    women  2025-12-11            2
6    women  2025-12-12            2
7    women  2025-12-13            2
8    women  2025-12-14            1

Dimensions: by category and day

Measures: count of matches, avg duration (minutes), #days since last match (d)